.tiles {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white {
  height: 100%;
  width: 100%;
  background-color: white;
}
.black {
  height: 100%;
  width: 100%;
  background-color: #9d7d3f;
}
.peice {
  height: 100%;
  width: 100%;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}
.valid_cell {
  box-shadow: inset 0 0 10px 10px green;
}
.attacked_cell {
  box-shadow: inset 0 0 10px 10px red;
}
.watched_cell {
  box-shadow: inset 0 0 10px 10px orange;
}
